{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>{{getTitle}}</title>
</head>

<body>
    {{#if error}}
    <div>
        <div class="errorContainer">
            <p>{{error}}</p>
        </div>
    </div>
    {{/if}} 
    <div id="wrapper">
        <header>
            <!-- Navigation -->
            <nav>
                <div>
                    <a href="/">Home</a>
                    <a href="#">Dashboard</a>
                    <a href="#">Search</a>
                </div>
                {{#if isAuthenticated}}
                <!-- Logged-in users -->
                <div class="user">
                    <a href="#">Add Animal</a>
                    <a href="/users/logout">Logout</a>
                </div>
                {{else}}
                <!-- Guest users -->
                <div class="guest">
                    <a href="/users/login">Login</a>
                    <a href="/users/register">Register</a>
                </div>
                {{/if}}
            </nav>
        </header>

       
            {{{body}}}


        <footer>
            <p>@Friendly World</p>
        </footer>
    </div>
</body>

</html> --}}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{getTitle}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    {{#if error}}
        <div>
            <div class="errorContainer">
                <p>{{error}}</p>
            </div>
        </div> 
    {{/if}} 
    

    <div class="navigation">
        <nav>
            <img src="/images/logo.jpg">
            <ul>
                <!-- Guest users and Logged users -->
                <li><a href="/">Home</a></li>
                <li><a href="#">Blogs</a></li>

                {{#if isAuthenticated}}
                <!--For loggin users-->
                <li><a href="#">Profile</a></li>
                <li><a href="/blogs/create">Create Blog</a></li>
                <li><a href="/users/logout">Logout</a></li>
                {{else}}
                <!--For guest users-->
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>

    <main>

        {{{body}}}

    </main>

    <footer>Back-End 2022</footer>
</body>

</html>